.cardsBlock {
  margin: 15px 0 15px 0;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 15px;
  box-sizing: border-box;
}

/* Мобильная история */

@media (max-width: 720px){
  .cardsBlock{
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}