.error{
  color: red;
}

.signUpWindow{
  background-color: aqua;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.signUpInforamition{
  margin: 13px 0 13px 0;
}